body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #aaaaaa;
  background-color: #272830;
  margin: 20px;
  padding: 0;
}
input, button, select, option, textarea {
  font-size: inherit;
  font-family: inherit;
}
button {
  border: none;
  outline: none;
  padding: 0.4em 0.6em;
  margin: 0;
  text-align: center;
  background-color: #b0b9c2;
  color: #222222;
}
button:hover, button:active, .custom-file-upload:hover, .custom-file-upload:active {
  background-color: #5a7da3;
}
button:disabled {
  pointer-events: none;
  background-color: #999999;
  color: #666666;
}

.logo-right-side {fill: #fbd734;}
.logo-left-side {fill: #ffed58;}
.logo-inner-shackle {fill: #546e7a;}
.logo-outer-shackle {fill: #788f9b;}
.logo-key-hole {fill: #36464e;}
h1 {
  display: flex;
  justify-content: start;
  align-items: center;
}
h1 svg {
  margin-right: 1em;
  margin-left: 1em;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
}
#action_menu {
    height: 100%;
    width: 150px;
    padding: 5px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#action_menu button {
  margin: 5px;
}

#main {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#editor {
  font-size: 16px;
}
#editorZone {
  position: relative;
}
#passPanelBack {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: none;
}
#passPanel {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#passPanel div {
  margin: 10px;
}
#pass {
  margin-left: 10px;
  margin-right: 10px;
}
